set default=1
set timeout=15
regexp --set=tftp_server '\(tftp,([^)]+)\)' "${prefix}"
set root=(tftp,${tftp_server})

menuentry "Install Ubuntu 22.04 Server amd64 (Automated)" {
        set gfxpayload=keep
        linux   /ubuntu22_04/amd64/linux autoinstall ds=nocloud-net\;seedfrom=http://${tftp_server}:9876/preseed/ iso-url=http://${tftp_server}:9876/iso/ubuntu-22.04.5-live-server-amd64.iso ip=dhcp ---
        initrd  /ubuntu22_04/amd64/initrd
}

menuentry "Cancel - reboot to PXE menu" {
        reboot
}
