set default=1
set timeout=15
regexp --set=tftp_server '\(tftp,([^)]+)\)' "${prefix}"
set root=(tftp,${tftp_server})

menuentry "Install Ubuntu 24.04 Server arm64 (Automated)" {
        set gfxpayload=keep
        linux   /ubuntu24_04/arm64/linux autoinstall ds=nocloud-net\;seedfrom=http://${tftp_server}:9876/preseed/ iso-url=http://${tftp_server}:9876/iso/ubuntu-24.04.4-live-server-arm64.iso ip=dhcp ---
        initrd  /ubuntu24_04/arm64/initrd
}

menuentry "Cancel - reboot to PXE menu" {
        reboot
}
